*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: sans-serif; 
    color: #000;
}
    html,
    body,
    main,
    #root {
        width: 100%;
        height: 100%;
    
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
nav{
    visibility: hidden;
    display: none;
}
.img-wrapper{
    width: 100%;
    height: 100%;
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1.5px);
}
.banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.logo{
    font-family: Rubik Mono One, sans-serif;
    font-size: 3rem;
    color: white;
    text-shadow: 5px 5px 0 rgb(46, 46, 46);
}
.content{
    font-size: 1.5rem;
    color:  white;
    font-family: sans-serif;
    margin-bottom: 1em;
}
.caller{
    width: 10em;
    outline: none;
    background: rgba(56, 55, 55);
    font-family: Rubik Mono One, sans-serif;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 30px;
}
.caller:active{
    background-color: #fff;
    color: rgba(56, 55, 55);;
}
.footer-content{
    background-color: #000;
    height: 3rem;
    font-size: 0.6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-content h2{
    color: rgba(201, 193, 193, 0.473);
    font-size: 1rem;
    margin-left: 1em;
    
}
.page-devs img{
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(201, 193, 193, 0.473);
    margin-right: 1rem;
}
.page-devs img:hover{
    background: linear-gradient(rgb(248, 49, 49),rgb(247, 126, 46),rgb(250, 250, 119),rgb(103, 247, 103),rgb(110, 241, 228),rgb(84, 84, 233),purple);
}
.box-login{
    width: 100%;
    height: 100vh;
    background-color: brown;
    position: relative;
}
.box-img{
    display: flex;
    justify-content: left;
}
.box-img img{
    width: 9em;
    margin-left: 23%;
}
.box-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: nowrap;
    text-align: center;
}
.box-title{
    font-family: Rubik Mono One, sans-serif;
    text-shadow: 1px 2px 0 rgb(46, 46, 46);
    margin-left: 9%;
    font-size: 1.5em;
}
.box-subtitle{
    margin-left: 11%;
    font-size: 0.8em;
}
button{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
}
.header-tml{
    background-color: #fff000;
    height: 100%;
    width: 100%;
    padding: 1em;
    position: sticky;
    display: flex;
    align-items: center;
    border-bottom: 0.2em solid #D3D3D3;
}
.logo-tml{
    font-family: Rubik Mono One,sans-serif;
    text-shadow: 2px 2px 0 #696969;
    font-size: 1.5em; 
}
.main-tml{
    background-color: #FAFAFA;
    height: 100vh;
    width: 100vw;
    padding: 1vw;
}
.user{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.8em;
}
.user-avatar img{
    width: 4em;
}
.user-name{
    font-size: 1em;
    margin-left: 0.2em;
    cursor: pointer;
}
.posted-at{
    font-size: 0.8em;
    margin-left: 0.5em;
    /*quebra a linha*/
}
.post{
    background-color: #fff;
    max-width: 500px;
    padding: 20px;
    padding-top: 40px;
    border: solid thin #D3D3D3;
}
.post-img img{
    width: 100%;
    object-fit: contain;
}
.post-captions{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.8em;
}

/*login/register*/

#google{
    width: 50px;
    height: 50px;
}

.formRegister {
    background-color: rgb(245, 212, 63);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.textFirts {
    margin: 40px 210px 0 0;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

legend {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    height: 350px;
}

.register input,
.registerLogin input {
    padding: 7px;
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: hsla(0, 0%, 100%, .45);
    border: none;
    border-radius: 5px;
}

.name {
    margin-left: 10px;
}

.name input {
    width: 136px;
    margin-left: 0;
}

.registerColumn input {
    width: 290px;
}

.registerColumn button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
}

.registerColumn img {
    width: 20px;
    height: 15px;
}

#btn {
    width: 100px;
    height: 30px;
    border: solid 1px white;
    margin: 10px 0 0 218px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    background-color: wheat;
    border-radius: 20px;
}

#btnLogin {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 25%;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}
#loginBtn {
    width: 100px;
    margin: 10px 0 0 218px;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
}
#passwordFirst,
#passwordSecond {
    width: 254px;
}

#btnCadastro {
    background-color:wheat ;
    width: 120px;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

.registerLogin {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 220px;
}

/*time*/

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .display-none {
    display: none;
  }
  
  body{
      background: linear-gradient(rgba(240, 42, 28, 0.664), orange, yellow, rgb(85, 243, 85), blue, rgb(228, 68, 228));
  }
  .logo-texto{
      font-family: Rubik Mono One, sans-serif;
      text-align: center;

  }
  .feed-wrapper {
    margin: 0 auto;
  }
  
  
  .name-information {
    display: flex;
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
  
  .name-user {
    font-size: 20px;
    font-weight: 400;
  }
  
  .text-wrapper {
    display: flex;
    background-color: rgba(129, 200, 247, 0.7);
  }
  
  .text-content {
    background-color: rgba(129, 200, 247, 0.7);
    margin: 25px 15px 15px 15px;
    padding: 20px;
    color: yellow;
    border-radius: 8px;
  }
  
  .title {
    font-weight: 500;
  }
  
  .post-box {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .post-box form {
    width: 100%;
  }
  
  .post-text {
    width: 100%;
    height: 6rem;
    border: 1px;
    padding: 5px;
    margin: 2px;
    resize: none;
    
    justify-content: center;
    align-items: center;
  }
  
  .post-box .interaction-space {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-style {
    background-color: black;
    color: white;
    font-size: 1rem;
    height: 2rem;
    width: 6rem;
    padding: 5px;
    border-radius: 4px;
  }
  
  .posted-content {
    display: flex;
    background-color: whitesmoke;
  }
  
  .posted-box {
    margin: 16px 16px 20px 16px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  
  .posted-elements {
    border: 2px solid black;
    border-radius: 8px;
  }
  
  .published-by {
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    font-size: 18px;
    font-family: Rubik Mono One, sans-serif;
    background: linear-gradient(rgba(240, 42, 28, 0.664), rgba(255, 166, 0, 0.76), rgba(255, 255, 0, 0.658), rgb(85, 243, 85), rgba(0, 0, 255, 0.541), rgb(228, 68, 228));
  }
  
  .date-style {
    font-size: 15px;
    align-self: flex-end;
    text-align: center;
    padding-bottom: 1.5px;
  }
  
  .posted-text {
    background-color: whitesmoke;
    flex: 10;
    padding: 1rem;
    word-wrap: break-word;
    width: 250px;
    overflow-y: auto;
    max-height: 150px;
  }
  
  .posted-text-editor>input {
    padding: .5rem;
    width: 100%;
    font-size: 1rem;
  }
  
  .posted-text-edit-button {
    justify-self: center;
    align-self: center;
    padding: 1rem;
  }
  
  .posted-box .interaction-space {
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
  }
  
  .by-line {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  .btn-space {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  
  .like-btn {
    color: red;
    font-size: 1.8rem;
    padding: 0px 0px 0px 5px;
    background: none;
    cursor: pointer;
  }
  
  .like-space {
    display: flex;
    padding-left: 10px;
  }
  
  .like-btn:hover {
    opacity: 0.7;
  }
  
  .like-number {
    font-size: 1.2rem;
    
    align-self: center;
  }
  
  .space-comment {
    padding: 5px 0px 0px 0px;
    margin: 5px;
  }
  
  .space-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .write-space-comment {
    resize: none;
    border: 2px solid black;
    padding: 5px;
    border-radius: 4px;
    margin: 5px;
    background-color: whitesmoke;
  }
  
  .commented-wrapper {
    justify-content: flex-end;
    display: flex;
    padding: 2px 2px 2px 2px;
    border-radius: 8px;
    margin: 5px 5px 5px 5px;
    word-wrap: break-word;
    align-items: center;
  }
  
  .delete-wrapper {
    display: flex;
    background-color: #c196aa;
    justify-content: flex-end;
    padding: 0px 10px 0px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .close-box {
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
  }
  
  .icon-comment-style {
    background-color: transparent;
    font-size: 1.4rem;
    cursor: pointer;
    
  }
  
  .btn-save-comment {
    background-color: transparent;
    font-size: 1.6rem;
    cursor: pointer;
    
  }
  
  .space-commented {
    background-color: #ebe1e5;
    margin: 2px 3px 3px 3px;
    padding: 9px 10px 10px 10px;
    border-radius: 8px;
    border: 1px solid black;
    overflow-x: auto;
    overflow-y: auto;
  }
  
  .privacy-wrapper {
    display: flex;
  }
  
  .privacy-wrapper>* {
    padding: 10px;
  }
  
  .all-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .icon-style {
    background-color: transparent;
    font-size: 1.5em;
    cursor: pointer;
    outline: none;
  }
  
  .published-by .icon-style {
    align-self: center;
    padding-top: 2px;
  }
  
  .big-box {
    background-color: rgba(255, 255, 255, 0.550);
  }
  
  